<div class="bg-about-img">
  <div class="bg-d1" style="position: relative; z-index: 2;">
    <div class="container" style="padding-top:120px; width:60%">
      <h1 id="heading" class="text-dark mb-3 text-center headings-mono p-3" style="display: none;">SilimaSoftware</h1>
      <div class="fb-container-left text-dark">
        <div class="fb-item p-2">
          <h2 id="heading" class="text-dark mb-3 text-center text-white headings-mono p-1">Why we exist</h2>
          <p class="text-white bg-obs text-center shadow p-2">
            SilimaSoftware was established in 2021 to produce software products and offer development services to
            startups and small to medium businesses. Our mission is to provide inclusivity to those that otherwise would
            not be able to afford the exorbitant expenses that can incur on your business when commissioning custom
            development.
            <img id="dev_pic" class="center" type="image/svg" width=60px src="{% static 'svg/about/sa.svg' %}" />
          </p>
        </div>
      </div>
      <div class="fb-container-right text-dark" style="padding-bottom:120px;">
        <div class="fb-item p-2">
          <h2 id="heading" class="text-dark mb-3 text-center text-white headings-mono p-1">What we do</h2>
          <div style="position: relative; z-index: 2;">
            <p class="text-white bg-obs text-center shadow p-2"> We are a small team of dedicated, passionate,
              hard-working individuals who love what we do. We go beyond
              designing and building software. Our priorities are connection, comprehension and transparency. Ensuring
              we understand you, your industry and your requirements and keeping you in the loop at every phase of the
              development cycle.
              <img id="dev_pic" class="center" type="image/svg" width=60px src="{% static 'svg/about/a2.svg' %}" />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" style="padding-top:40px;">
  <img class="center p-4" type="image/svg" style="width:420px; position: relative; z-index: 2;"
  src="{% static 'svg/about/about.svg' %}" />
  <h2 class="text-dark mb-3 text-center text-white headings-mono">Web Development</h2>
  <p class="text-white bg-obs center text-center shadow p-2" style="max-width: 777px;"> Web development is our speciality. Through extensive research and
    testing, we have come to favour a few of the following technologies and rely on them to power the core of our
    products and services. Using a combination of these and some, we can build websites and web applications with
    varying levels of complexity and functionality.
  </p>
  <h5 id="heading" class="text-dark mb-3 text-center text-white headings-mono">Technologies & Frameworks</h5>
  <div class="fb-container">
    <div class="fb-item-wide" style="z-index: 1;">
      <div class="fb-container">
        <div class="fb-item-logo">
          <img class="center logo-grow" type="image/svg" width=100% src="{% static 'svg/about/html.svg' %}" />
        </div>
        <div class="fb-item-logo">
          <img class="center logo-grow" type="image/svg" width=100% src="{% static 'svg/about/js.svg' %}" />
        </div>
        <div class="fb-item-logo">
          <img class="center logo-grow" type="image/svg" width=100% src="{% static 'svg/about/jq.svg' %}" />
        </div>
        <div class="fb-item-logo">
          <img class="center logo-grow" type="image/svg" width=100% src="{% static 'svg/about/react.svg' %}" />
        </div>
      </div>
      <div class="fb-container">
        <div class="fb-item-logo">
          <img class="center logo-grow" type="image/svg" width=100% src="{% static 'svg/about/python.svg' %}" />
        </div>
        <div class="fb-item-logo">
          <img class="center logo-grow" type="image/svg" width=100% src="{% static 'svg/about/django.svg' %}" />
        </div>
        <div class="fb-item-logo">
          <img class="center logo-grow" type="image/svg" width=100% src="{% static 'svg/about/chashtag.svg' %}" />
        </div>
        <div class="fb-item-logo">
          <img class="center logo-grow" type="image/svg" width=100% src="{% static 'svg/about/poo.svg' %}" />
        </div>
      </div>
      <div class="fb-container">
        <div class="fb-item-logo">
          <img class="center logo-grow" type="image/svg" width=100% src="{% static 'svg/about/psg.svg' %}" />
        </div>
        <div class="fb-item-logo">
          <img class="center logo-grow" type="image/svg" width=100% src="{% static 'svg/about/mysql.svg' %}" />
        </div>
        <div class="fb-item-logo">
          <img class="center logo-grow" type="image/svg" width=100% src="{% static 'svg/about/mongo.svg' %}" />
        </div>
        <div class="fb-item-logo">
          <img class="center logo-grow" type="image/svg" width=100% src="{% static 'svg/about/redis.svg' %}" />
        </div>
      </div>
      <div class="fb-container">
        <div class="fb-item-logo">
          <img class="center logo-grow" type="image/svg" width=100% src="{% static 'svg/about/traefik.svg' %}" />
        </div>
        <div class="fb-item-logo">
          <img class="center logo-grow" type="image/svg" width=100% src="{% static 'svg/about/nginx.svg' %}" />
        </div>
        <div class="fb-item-logo">
          <img class="center logo-grow" type="image/svg" width=100% src="{% static 'svg/about/celery.svg' %}" />
        </div>
        <div class="fb-item-logo">
          <img class="center logo-grow" type="image/svg" width=100% src="{% static 'svg/about/rabbitmq.svg' %}" />
        </div>
      </div>
      <div class="fb-container">
        <div class="fb-item-logo">
          <img class="center logo-grow" type="image/svg" width=100% src="{% static 'svg/about/git.svg' %}" />
        </div>
        <div class="fb-item-logo">
          <img class="center logo-grow" type="image/svg" width=100% src="{% static 'svg/about/jenkins.svg' %}" />
        </div>
        <div class="fb-item-logo">
          <img class="center logo-grow" type="image/svg" width=100% src="{% static 'svg/about/docker.svg' %}" />
        </div>
        <div class="fb-item-logo">
          <img class="center logo-grow" type="image/svg" width=100% src="{% static 'svg/about/linux.svg' %}" />
        </div>
      </div>
    </div>
  </div>
  <p>For more on the tech and how we use it check out our <a style="position: relative; z-index: 2;"
      href="{% url 'silimasoftware' 'blog' %}">blog</a></p>

</div>