<div class="bg-blog-img">
  <div class="bg-d1 text-center" style="height: 100%;  position: relative; z-index: 2;">
    <div class="text-white" style="padding-top: 200px;">
      <img id="dev_pic" class="center" type="image/svg" width=10% src="{% static 'svg/docs.svg' %}" />
      <h2 id="heading" class="mb-3 headings-mono">Silima Software</h2>
      <h1 class="mb-3 headings-mono" >Development Blog</h1>
      <br>

      <h4 id="sub" class="mb-3 headings-mono">
        Coming Soon!
      </h4>
    </div>
  </div>
</div>
<div class="container-fluid text-center bg-d1 p-2">
  <div class="fb-container">
    <div class="fb-item">
      <div id="post_wrapper">
        {% for post in posts %}
        {{ post.title }}
        {% endfor %}
      </div>
    </div>
    <div class="fb-item-thin">
      {% for r_post in latest_posts %}
      {{ post.title }}
      {% endfor %}
    </div>
  </div>  
</div>