<div class="bg-home-img">
  <div class="bg-d1" style="padding-top:100px;">
    <h1 style="display: None;" class="headings-mono">Silima Software</h1>
    <div style="position: relative; z-index: 2;">
      <div class="text-center" style="height:max-content">
        <div class="container">
          <div class="center p-5">
            <h4 class="headings-mono">
              Web Software Development & Consulting<br>
            </h4>
            <p class="headings-mono">
              We build secure, scalable solutions for startups, and small to medium businesses.
            </p>
            <br>
            <button type="button" class="shadow btn btn-outline-danger bg-obs big-xl btn-grow rounded"> GET
              STARTED
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container " style="position: relative; z-index: 2;">

  <div id="dev_info_event_wrapper" class="fb-container text-light" style="padding-top:70px;">
    <div class="fb-item p-4">
      <div class="card-body  border border-light rounded shadow bg-d1">
        <h2 class="card-title text-center mb-3 headings-mono">Custom Development</h2>
        <div class="card-text text-center headings-mono">
          <ul id="dev_info_event" class="list-group">
            <li tag="dev" class="list-group-item main-page-list rounded-pill grow btn">
              Web Development</li>
            <li tag="web" class="list-group-item main-page-list rounded-pill grow btn">
              Desktop Development
            </li>
            <li tag="mob" class="list-group-item main-page-list rounded-pill grow btn">
              Integration & Automation</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="fb-item-thin headings-mono">
      <div id="dev_info" style="display:None;">
      </div>
      <img id="dev_pic" class="center" type="image/svg" width=70% src="{% static 'svg/cauldron.svg' %}" />
    </div>
  </div>
  <div id="bms_info_event_wrapper" class="fb-container-l text-light" style="padding-top:70px;">
    <div class="fb-item-thin headings-mono">
      <div style="display:None;" id="bms_info">
      </div>
      <img id="bms_pic" class="center" type="image/26g" width=70% src="{% static 'svg/brm.svg' %}" />
    </div>
    <div class="fb-item p-4">
      <div class="card-body  border border-light rounded shadow bg-d1">
        <h2 class="card-title text-center mb-3 headings-mono">Business Management</h2>
        <div class="card-text text-center headings-mono">
          <ul id="bms_info_event" class="list-group">
            <li tag="csm" class="list-group-item main-page-list rounded-pill grow btn">Sales & Marketing</li>
            <li tag="ims" class="list-group-item main-page-list rounded-pill grow btn">Inventory & Warehousing</li>
            <li tag="hrs" class="list-group-item main-page-list rounded-pill grow btn">Human Resources</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="hosting_info_event_wrapper" class="fb-container text-light" style="padding-top:70px;">
    <div class="fb-item p-4">
      <div class="card-body  border border-light rounded shadow bg-d1">
        <h2 class="card-title text-center mb-3 headings-mono">Managed Container Hosting</h2>
        <div class="card-text text-center headings-mono">
          <ul id="hosting_info_event" class="list-group">
            <li tag="hosting" class="list-group-item main-page-list rounded-pill grow btn">
              Hosting Solutions</li>
            <li tag="devops" class="list-group-item main-page-list rounded-pill grow btn">
              DevOps Tools</li>
            <li tag="storage" class="list-group-item main-page-list rounded-pill grow btn">
              Cloud Storage</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="fb-item-thin headings-mono">
      <div style="display:None;" id="hosting_info">
      </div>
      <img id="hosting_pic" class="center" type="image/26g" width=70% src="{% static 'svg/hosting.svg' %}" />
    </div>
  </div>

</div>