<footer id="footer" class="text-center text-white">
    <div class="text-center p-3">
        <a style="position: relative; z-index: 2;" class="btn btn-outline-white text-white btn-floating m-1"
            href="https://github.com/silimasoftware/" role="button"> <i class="fa-brands fa-github-alt  fa-2xl"></i>
            <br>
            Check us out on Github
        </a>
        <br>
        <br> 
        <i class="far fa-copyright"></i> 2021-2022 <a style="position: relative; z-index: 2;" class="text-white"
            href="https://silimasoftware.co.za/">SilimaSoftware</a> (Pty) Ltd - All rights reserved
        <br>
        </a>
    </div>
</footer>