<div class="container">
  <div class="fb-container">
    <div class="fb-item-portfolio text-center text-light grow">
      <div class="card-body">
        <h2 class="card-title text-center mb-3 headings-mono">Inventory Management System</h2>
        <img class="img-fluid img-thumbnail border border-dark" type="image/png" src="{% static 'img/ims.png' %}" />
      </div>
    </div>
    <div class="fb-item-portfolio text-center text-light grow">
      <div class="card-body">
        <h2 class="card-title text-center mb-3 headings-mono">Auction-House Dataset & Analytics</h2>
        <img class="img-fluid img-thumbnail border border-dark" type="image/png" src="{% static 'img/ahtk.png' %}" />
      </div>
    </div>
    <div class="fb-item-portfolio text-center text-light grow">
      <div class="card-body">
        <h2 class="card-title text-center mb-3 headings-mono">Website for Import/Export Company</h2>
        <img class="img-fluid img-thumbnail border border-dark" type="image/png" src="{% static 'img/website.png' %}" />
      </div>
    </div>
    <div class="fb-item-portfolio text-center text-light grow">
      <div class="card-body">
        <h2 class="card-title text-center mb-3 headings-mono">Notification Management System</h2>
        <img class="img-fluid img-thumbnail border border-dark" type="image/png"
          src="{% static 'img/subnotify.png' %}" />
      </div>
    </div>
    <div class="fb-item-portfolio text-center text-light grow">
      <div class="card-body">
        <h2 class="card-title text-center mb-3 headings-mono">Website for Hosting Platform Storefront</h2>
        <img class="img-fluid img-thumbnail border border-dark" type="image/png" src="{% static 'img/dochost.png' %}" />
      </div>
    </div>
  </div>
</div>